#popup_background {
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.5);
}
#popup_container {
    position: relative;
    max-width: 80%;
    padding: 1rem;
    background-color: white;
}

#remove_popup {
    position: absolute;
    top: 10px;
    right: 10px;
}

/*#are-you-sure-popup{
    text-align: center;
    width: 30%;
}*/
