.player-song-button {
    background-color: #dddddd;
    border: none;
}

.player-cover {
    border: 2px solid #a1a1a1;
    margin: auto;
    /*margin-top: 50px;*/
    padding: 10px 40px;
    background: #dddddd;
    width: 80%;
    border-radius: 300px;
    position: relative;
}

.player-audio-container {
    position: absolute;
    top: 10%;
    left: 45%;
}

ol {
    position: absolute;
    left: -8%;
}

.player-outer-circle {
    width: 260px;
    height: 260px;
    margin: 20px;
    border-radius: 50%;
    position: relative;
    background: red;
}

.remove-btn {
    position: absolute;
    right: 5%;
    top: 240px;
    border: none;
}

.edit-btn {
    position: absolute;
    right: 5%;
    top: 280px;
    border: none;
}

.rotate {
    animation: rotation 10s linear infinite;
}

@keyframes rotation {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}