/*body{
    background-color:#000;
    color:#fff;
    font-family:arial;
    text-align:center
}*/

body { padding-top: 70px; }

.container p {
    margin: 10px;
}

.form-control {
    font-size: 18px;
    height: 46px;
    border-radius: 6px;
}

.img-circle{
    animation: rotation 2s linear infinite;
}

@keyframes rotation {
    0%   {transform: rotate(0deg); }
    100% {transform: rotate(360deg); }
}